@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
.contact-body {
  overflow: hidden;
  background: linear-gradient(150deg, rgb(65, 2, 128), #1a1615);
}
.contact-body .contact-wrapper {
  display: grid;
  grid-template-columns: 15vw 1fr;
}

.medias-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.medias-wrapper .medias {
  display: flex;
  flex-direction: column;
  height: 80%;
}
.medias-wrapper .medias > * {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 25%;
  border: none;
  transform: scale(1.2);
  transition: all 0.2s;
}
.medias-wrapper .medias > *:hover {
  transform: scale(1.4);
}
.medias-wrapper .medias .gmail-button {
  display: flex;
  width: 10vw;
  margin-bottom: 0;
  height: 10vh;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(223, 223, 223, 0.279);
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.8vw;
  font-family: "BitMap";
  transition: all 0.2s;
  color: rgba(223, 223, 223, 0.279);
}
.medias-wrapper .medias .gmail-button:hover {
  border: 1px solid rgb(219, 253, 255) !important;
  opacity: 1;
}
.medias-wrapper .medias .gmail-button:focus {
  outline: none !important;
  height: 70px;
  border: 2px rgb(127, 0, 255) solid !important;
}
.medias-wrapper .medias a img {
  width: 4vw;
  height: 4vw;
}
.medias-wrapper .medias a .linkedin {
  transform: scale(1.5);
}

.form-wrapper {
  z-index: 3;
  display: flex;
  margin-top: 3vh;
  margin-right: 3vh;
  height: 100vh;
  flex-direction: column;
}
.form-wrapper label {
  width: 100%;
}
.form-wrapper #contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 23vh;
  color: white;
  width: 100%;
  font-size: 1.8vw;
  transition: all 0.2s;
}
.form-wrapper #contact-button:hover {
  animation: background-pan 5s linear infinite;
  letter-spacing: 4px;
  font-family: "Rosie";
  font-size: 8vw;
  border: none !important;
  background: linear-gradient(to right, rgb(17, 199, 245), rgb(127, 0, 255), rgb(17, 199, 245));
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-wrapper #contact-button:focus {
  outline: none !important;
  border: none !important;
}
.form-wrapper #contact-button:focus::-moz-placeholder {
  color: transparent;
}
.form-wrapper #contact-button:focus::placeholder {
  color: transparent;
}
.form-wrapper #email {
  border-start-start-radius: 20px;
  border-top-right-radius: 20px;
}
.form-wrapper textarea {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(223, 223, 223, 0.279);
  resize: none;
  margin-bottom: 7px;
  padding-top: 20px;
  height: 55vh;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.8vw;
  color: rgb(219, 253, 255);
  font-family: "BitMap";
  border-end-end-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.2s;
}
.form-wrapper textarea::-moz-placeholder {
  color: rgba(223, 223, 223, 0.579);
  padding: 30px 10px;
}
.form-wrapper textarea::placeholder {
  color: rgba(223, 223, 223, 0.579);
  padding: 30px 10px;
}
.form-wrapper textarea:hover {
  border: 1px solid rgb(219, 253, 255) !important;
}
.form-wrapper textarea:focus {
  text-align: start;
  outline: none !important;
  height: 60vh;
  border: 2px rgb(127, 0, 255) solid !important;
}
.form-wrapper textarea:focus::-moz-placeholder {
  color: transparent;
}
.form-wrapper textarea:focus::placeholder {
  color: transparent;
}

.style-inputs {
  height: 10vh;
  width: 100%;
  margin-bottom: 7px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(223, 223, 223, 0.279);
  text-align: center;
  letter-spacing: 1px;
  color: rgb(219, 253, 255);
  font-size: 1.8vw;
  font-family: "BitMap";
  transition: all 0.2s;
}
.style-inputs::-moz-placeholder {
  color: rgba(223, 223, 223, 0.579);
}
.style-inputs::placeholder {
  color: rgba(223, 223, 223, 0.579);
}
.style-inputs:hover {
  border: 1px solid rgb(219, 253, 255) !important;
}
.style-inputs:hover::-moz-placeholder {
  opacity: 1;
}
.style-inputs:hover::placeholder {
  opacity: 1;
}
.style-inputs:focus {
  outline: none !important;
  height: 70px;
  border: 2px rgb(127, 0, 255) solid !important;
}
.style-inputs:focus::-moz-placeholder {
  color: transparent;
}
.style-inputs:focus::placeholder {
  color: transparent;
}

@font-face {
  font-family: "Zilla";
  src: url("../ASSETS/fonts/ZillaSlab.ttf") format("truetype");
}
@font-face {
  font-family: "PlayFair";
  src: url("../ASSETS/fonts/Playfair.ttf") format("truetype");
}
#to-disappear {
  display: block;
  opacity: 100%;
}

#to-appear {
  opacity: 0%;
  height: 100%;
  width: 100%;
}
#to-appear .selectors-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 8px;
  padding-bottom: 8px;
  line-height: 11vh;
  transition: background 0.2s;
}
#to-appear .selectors-wrapper .selector {
  display: flex;
  justify-content: end;
  font-size: 5vw;
  font-family: "PlayFair";
  color: rgba(255, 255, 255, 0.6);
}
#to-appear .selectors-wrapper .selector:hover {
  font-family: "Zilla";
  color: white;
  font-size: 7vw;
}
#to-appear .projects-wrapper {
  position: absolute;
  z-index: -3;
  top: 75px;
  left: 0;
  height: 80vh;
  width: 70vw;
}
#to-appear .projects-wrapper .project {
  position: absolute;
  background-size: cover;
  width: 65vw;
  height: 100%;
  right: 0;
}
#to-appear .projects-wrapper .project .blur-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.3);
}
#to-appear .projects-wrapper .project .blur-screen img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#to-appear .projects-wrapper .project .blur-screen .project-text {
  z-index: 5;
  position: absolute;
  margin-left: 20px;
  opacity: 100%;
}

@font-face {
  font-family: "MySoul";
  src: url("../ASSETS/fonts/MySoul.woff2");
}
@font-face {
  font-family: "Zilla";
  src: url("../ASSETS/fonts/ZillaSlab.ttf") format("truetype");
}
@font-face {
  font-family: "Ahganirya";
  src: url("../ASSETS/fonts/Ahganirya.woff2");
}
@font-face {
  font-family: "PlayFair";
  src: url("../ASSETS/fonts/Playfair.ttf") format("truetype");
}
body {
  background: linear-gradient(to bottom, #232323, #121212);
  color: white;
  font-family: "Ahganirya";
  height: 100vh;
  margin: 0;
  width: 100vw;
  overflow: hidden;
  background-repeat: no-repeat;
}
body .upper-section {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100vw;
  top: 0;
  left: 0;
}
body .upper-section .logo img {
  width: 40px;
  height: 40px;
}
body .upper-section .upper-bar {
  background: rgba(255, 255, 255, 0.5);
  width: 90%;
  height: 1px;
  z-index: 4;
}
body .upper-section .hamburger {
  width: 60px;
  height: 60px;
  z-index: 3;
  transition: all 0.2s;
}
body .upper-section .hamburger:hover svg {
  fill: #DF7979;
  stroke: #DF7979;
}
body nav {
  width: 30vw;
  height: 100vh;
  position: fixed;
  right: -31vw;
  top: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
  background: linear-gradient(to right, rgba(26, 25, 25, 0.21), rgb(0, 0, 0));
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
body nav .nav-wrapper {
  height: 100%;
  width: 90%;
  margin-right: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
body nav .nav-wrapper .link {
  display: flex;
  align-items: center;
  padding: 8px;
  height: 15%;
  transition: background 0.2s;
}
body nav .nav-wrapper .link a {
  font-size: 4vw;
  text-decoration: none;
  font-family: "PlayFair";
  color: rgba(255, 255, 255, 0.6);
}
body nav .nav-wrapper .link a:hover {
  font-family: "Zilla";
  font-size: 5vw;
  color: white;
}
body main .little-text {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
body main .title-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -10vw;
}
body main .title-wrapper .title-container {
  font-size: 12vw;
  font-family: "PlayFair";
  line-height: 27vh;
}
body main .title-wrapper .title-container .fancy-letter {
  color: #DF7979;
  font-size: 17vw;
  font-family: "MySoul";
}/*# sourceMappingURL=style.css.map */