@import "specifics/contact";
@import "specifics/about";
@import "specifics/projects";
@import "specifics/home";

@font-face {
    font-family: 'MySoul';
    src: url("../ASSETS/fonts/MySoul.woff2");
}

@font-face {
    font-family: 'Ahganirya';
    src: url("../ASSETS/fonts/Ahganirya.woff2");
}

$background: #121212;
$red: #DF7979;
$stylish-letter-font: 'MySoul';
$normal-font: 'Ahganirya';

body {
    background: $background;
    color: white;
    font-family: $normal-font;
    height: 100vh;
    margin: 0;
    width: 100vw;
    overflow: hidden;
    background-repeat: no-repeat;

    .upper-section {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        width: 100vw;
        top: 0;
        left: 0;
        .logo {
            margin-top: 10px;
            margin-left: 10px;
            img {
                width: 40px;
                height: 40px;
            }
        }
        .upper-bar {
            background: rgba(255, 255, 255, 0.5);
            width: 90%;
            height: 1px;
        }
        .hamburger  {
            width: 60px;
            height: 60px;
            z-index: 3;
            transition: all 0.2s;
            &:hover { svg { path { fill: $red; }}}
        }
    }

    nav {
        width: 30vw;
        height: 100vh;
        position: fixed;
        right: -31vw;
        top: 0;
        border-left: 1px solid white;
        z-index: 2;
        background: linear-gradient(to right, rgba(26, 25, 25, 0.21), rgba(0,0,0,1));
        backdrop-filter: blur(20px);
        .nav-wrapper {
            height: 100%;
            width: 90%;
            margin-right: 10%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            .link {
                margin-bottom: 2vh;
                margin-top: 2vh;
                a {
                    font-size: 2vw;
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }

    main {
        .title-wrapper {
            position: absolute;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: starcentert;
            align-items: center;
            top: 0;
            left: 10vw;
            .title-container {
                font-size: 5vw;
                line-height: 20vh;
                .fancy-letter {
                    color: $red;
                    font-size: 14vw;
                    font-family: $stylish-letter-font;
                }
            }
        }
        .little-text {
            position: absolute;
            left: 20px;
            bottom: 20px;
        }
    }
}