$dark-violet:rgb(65, 2, 128);
$violet:rgb(127, 0, 255);
$in-between-violet: rgb(0, 42, 255);
$blue: rgb(17, 199, 245);
$first-color: rgb(219, 253, 255);
$bg-color : #1a1615; 
$transparent-grey : rgba(223, 223, 223, 0.279);
$placeholder-grey : rgba(223, 223, 223, 0.579);
$details-font : "BitMap";
$stylish-font : "Rosie";

@keyframes background-pan {
    from { background-position: 0% center; }
    to { background-position: -200% center; }
}



//______________________________________ CONTACT GENERAL SETTINGS ______________________________________//



.contact-body  {
    overflow: hidden;
    background: linear-gradient(150deg, $dark-violet, $bg-color);
    .contact-wrapper {
        display:grid;
        grid-template-columns: 15vw 1fr;


         
    }
}


//______________________________________ MEDIAS SETTINGS ______________________________________//



.medias-wrapper {
    display: flex;
    position: relative; 
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    .medias {
        display:flex;
        flex-direction: column;
        height: 80%;
        & > * {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 25%;
            border: none;
            transform: scale(1.2);
            transition: all 0.2s;
            &:hover {
                transform: scale(1.4);
            }
        }
        .gmail-button {
            display: flex;
            width: 10vw;
            margin-bottom: 0;
            height: 10vh;
            background-color: transparent;
            border-radius: 5px;
            border: 1px solid $transparent-grey;
            text-align:center;
            letter-spacing: 1px;
            font-size: 1.8vw;
            font-family:$details-font;
            transition:  all 0.2s;
            color: $transparent-grey;
            &:hover { border: 1px solid $first-color !important; opacity: 1; }
            &:focus {
                outline:none !important;
                height: 70px;
                border: 2px rgb(127, 0, 255) solid !important;
            }
        }
        a {
            img { width: 4vw; height: 4vw; }
            .linkedin { transform: scale(1.5); }
        }
    }
}

//______________________________________ FORM SETTINGS ______________________________________//

.form-wrapper {
    z-index: 3;
    display: flex;
    margin-top : 3vh;
    margin-right: 3vh;
    height : 100vh;
    flex-direction: column; 
    label {
       width: 100%;        
    }
    
    #contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        height: 23vh;
        color: white;
        width: 100%;
        font-size: 1.8vw;
        transition: all 0.2s;
        &:hover {
            animation: background-pan 5s linear infinite;
            letter-spacing: 4px;
            font-family: $stylish-font;
            font-size: 8vw;
            border: none !important;
            background: linear-gradient(to right, $blue, $violet, $blue);
            background-size: 200%;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:focus {
            outline:none !important;
            border: none !important;

            &::placeholder { color: transparent; }
        }
    }
    #email {
        border-start-start-radius: 20px;
        border-top-right-radius: 20px;
    }
    textarea {
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid $transparent-grey;
        resize: none;
        margin-bottom: 7px;
        padding-top: 20px;
        height: 55vh;
        width: 100%;
        letter-spacing: 1px;
        text-align:center;
        font-size: 1.8vw;
        color : $first-color;
        font-family:$details-font;
        border-end-end-radius: 20px;
        border-bottom-left-radius: 20px;
        transition:  all 0.2s;
        &::placeholder { color:$placeholder-grey; padding: 30px 10px; }
        &:hover {
            border: 1px solid $first-color !important;
        }
        &:focus {
            text-align: start;
            outline:none !important;
            height: 60vh;
            border: 2px rgb(127, 0, 255) solid !important;
            &::placeholder { color: transparent; }
        }
    }
} 

.style-inputs {
    height: 10vh;
    width: 100%;
    margin-bottom: 7px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid $transparent-grey;
    text-align:center;
    letter-spacing: 1px;
    color: $first-color;
    font-size: 1.8vw;
    font-family:$details-font;
    transition:  all 0.2s;
    &::placeholder { color:$placeholder-grey; }
    &:hover {
        &::placeholder { opacity: 1; }
        border: 1px solid $first-color !important;
    }
    &:focus {
        outline:none !important;
        height: 70px;
        border: 2px rgb(127, 0, 255) solid !important;
        &::placeholder { color: transparent; }
    }
}