$dark-blue : rgb(0, 54, 105);
$dark-violet:rgb(59, 1, 117);
$bg-color : rgb(26, 22, 21); 

body {
    scroll-behavior: smooth;
    overflow: hidden;
    nav { .nav-wrapper { .link { &:hover { font-size: 14vw; } } } }
    #index-main {
        background : linear-gradient(320deg ,$dark-violet, $bg-color, $dark-blue);
        height: 100vh;
        width: 100vw;
        text-align:center;
        display: flex;
        .title-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            line-height: 16vw;
            #greatest {
            padding-bottom: 7vh;
                font-size: 17vw;
            }
        }
    }
}